{% include "header.html" %}

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="{{ url_for('static', filename='css/styles2.css') }}" rel="stylesheet"/>
</head>

<body>
    <div class="content-container about-section">
        <div>
            <div class="frame">
                <div class="slideshow">
                    <img src="{{ url_for('static', filename='images/my_images/photo_1.jpg') }}" alt="Photo 1" class="photo">
                    <img src="{{ url_for('static', filename='images/my_images/photo_2.jpg') }}" alt="Photo 2" class="photo">
                </div>
                <img src="{{ url_for('static', filename='images/frame.png') }}" alt="Frame" class="framed-image">
            </div>
        </div>
        <div class="right-side-box">
            <h1 class="box-title">About Me</h1>
            <p class="about-text">
                Hey there! I’m Shanel Radeesha Perera, a Computer Science undergraduate at SLIIT with a passion for coding and innovation. I specialize in Python development, web and software engineering, and data science, with a focus on AI and machine learning. I enjoy creating impactful solutions through robust software and exploring emerging technologies. <br><br>
                As a freelancer, I offer graphic design and content writing services, combining creativity with technical expertise to help businesses tell their story. Outside of tech, I’m a martial arts enthusiast, which keeps me disciplined and always striving for growth. <br><br>
                I’m eager to take on new challenges and collaborate on projects that make a positive impact.
            </p>
        </div>
    </div>

    <div class="container px-4 py-5" id="custom-cards">
        <section class="timeline">
            <div class="timeline-row">
                <div class="timeline-column education">
                    <h2 class="title">Education<span class="animate" style="--i:1;"></span></h2>
    
                    <div class="timeline-box">
                        <div class="timeline-content">
                            <div class="year-container">
                                <div class="year">2008 Jan-<br>2022 Dec</div>
                            </div>
                            <div class="content">
                                <div class="content-header">
                                    <img src="{{ url_for('static', filename='images/dmc.png') }}" alt="DMC Logo" class="org-logo">
                                    <div>
                                        <h3>Primary and Secondary Education</h3>
                                        <p>Physical Sciences (Combined Mathematics, Physics, Chemistry)</p>
                                        <p class="org-name">De Mazenod College, Kandana, Sri Lanka</p>
                                    </div>
                                </div>
                                <div class="description">
                                    <ul>
                                        <li>Passed GCE O/L exam with 9 'A' Passes</li>
                                        <li>Passed GCE A/L exam in Physical Science Stream</li>
                                    </ul>
                                    <br>
                                    <div>
                                        <h5 style="font-size: 15px;">Activities and Societies:</h5>
                                        <ul>
                                            <li>Member of the school Wushu team (2014-2019)</li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                        
                        <div class="timeline-content">
                            <div class="year-container">
                                <div class="year">2024 Jul-<br>Present</div>
                            </div>
                            <div class="content">
                                <div class="content-header">
                                    <img src="{{ url_for('static', filename='images/sliit.png') }}" alt="SLIIT Logo" class="org-logo">
                                    <div>
                                        <h3>Undergraduate</h3>
                                        <p>BSc.(Hons) in Computer Science</p>
                                        <p style="font-size: 14px;">Year 1</p>
                                        <p class="org-name">Sri Lanka Institute of Information Technology (SLIIT)</p>
                                    </div>
                                </div>
                                <div class="description">
                                    <ul>
                                        <li>Current GPA: 3.76</li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    
                        <span class="animate" style="--i:2;"></span>
                    </div>
                </div>
    
                <div class="timeline-column experience">
                    <h2 class="title">Experience<span class="animate" style="--i:4;"></span></h2>
                
                    <div class="timeline-box">
                        <div class="timeline-content">
                            <div class="year-container">
                                <div class="year">2024 Dec-<br>Present</div>
                            </div>
                            <div class="content">
                                <div class="content-header">
                                    <h3>Freelancer</h3>
                                </div>
                                <div class="description">
                                    <p>Python Developer</p>
                                </div>
                            </div>
                        </div>
                
                        <span class="animate" style="--i:5;"></span>
                    </div>
                </div>
        </section>
    </div>

    <section class="certifications-section">
        <h2 class="section-title">Licenses & Certifications</h2>
        <div class="certifications-container">
            <div class="certificate-card">
                <a href="https://www.udemy.com/certificate/UC-60370cfb-00bb-4edd-b3f7-ea3d141ef1b5/" target="_blank" rel="noopener noreferrer">
                    <img src="https://udemy-certificate.s3.amazonaws.com/image/UC-60370cfb-00bb-4edd-b3f7-ea3d141ef1b5.jpg?v=1738661062000" alt="Certificate 1" class="certificate-image">
                </a>
                <div class="certificate-info">
                    <h3>100 Days of Code: The Complete Python Pro Bootcamp</h3>
                    <p>Issued by: Udemy</p>
                    <p>Date: Jan 2025</p>
                </div>
            </div>
            <div class="certificate-card">
                <a href="https://drive.google.com/file/d/1vb0GHrPU2JszMBp1OlsKnRKHAjEdS262/view?usp=sharing" target="_blank" rel="noopener noreferrer">
                    <img src="{{ url_for('static', filename='images/CS50x.png') }}" alt="Certificate 2" class="certificate-image" style="width: 95%; margin-left: 10px; margin-right: 10px; margin-top: 10px; height: 65%;">
                </a>
                <div class="certificate-info">
                    <h3 style="margin-top: 4px;">CS50's Introduction to Computer Science</h3>
                    <p>Issued by: Harvard University</p>
                    <p>Date: Jun 2024</p>
                </div>
            </div>
            <div class="certificate-card">
                <a href="https://drive.google.com/file/d/1_pbYrUqvcotW-S1CRcNTwWoSHh1vtNOM/view?usp=drive_link" target="_blank" rel="noopener noreferrer">
                    <img src="{{ url_for('static', filename='images/CS50x.png') }}" alt="Certificate 2" class="certificate-image" style="width: 95%; margin-left: 10px; margin-top: 10px; height: 65%;">
                </a>
                <div class="certificate-info">
                    <h3 style="margin-top: 4px;">CS50's Introduction to Programming with Python</h3>
                    <p>Issued by: Harvard University</p>
                    <p>Date: Jun 2024</p>
                </div>
            </div>
        </div>
    </section>
    
</body>

{% include "footer.html" %}